@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  color: white;
}

body {
  background-color: #141619;
  height: 100vh;
}

.logo {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerService {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.headerService p {
  cursor: pointer;
}

.divGetInTouch {
  background: rgb(102, 93, 205);
  background: linear-gradient(
    90deg,
    rgba(102, 93, 205, 1) 0%,
    rgba(95, 164, 230, 1) 45%,
    rgba(210, 171, 103, 1) 100%
  );
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.btnGetInTouch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
  /* overflow: hidden; */
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hero .bigP {
  font-size: 76px;
}

.hero .smallP {
  font-size: 18px;
  text-align: center;
  color: #e5e5e5;
  line-height: 2rem;
}

.btn2GetInTouch {
  background: rgb(102, 93, 205);
  background: linear-gradient(
    90deg,
    rgba(102, 93, 205, 1) 0%,
    rgba(95, 164, 230, 1) 45%,
    rgba(210, 171, 103, 1) 100%
  );
  padding: 1rem;
  font-size: 19px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* About Section */

.about {
  margin-top: 8rem;
}

.about .about-p-big {
  font-size: 56px;
  font-weight: 500;
}

.about .about-p-small {
  color: #e5e5e5;
  font-size: 20px;
  text-align: center;
  line-height: 2rem;
  margin-top: 2rem;
}

.stats-grid {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-width: 900px;
  text-align: center;
}

.stat-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 600;
}

.stat-item span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  opacity: 0.7;
  margin-top: 5px;
}

.highlighted {
  background: linear-gradient(135deg, #7f8cff, #ffbf69);
  color: black;
  font-size: 24px;
  padding: 30px;
}

/* Info section */

.info {
  width: 100%;
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .info-p-big {
  font-size: 56px;
  font-weight: 500;
  color: white;
}

.info .info-p-small {
  color: #e5e5e5;
  font-size: 20px;
  text-align: center;
  margin-top: 1rem;
  line-height: 2rem;
}

.inf-box {
  width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.inf-box .left .left-p-big {
  font-size: 36px;
  font-weight: 400;
  line-height: 2.5rem;
}

.inf-box .left .left-p-small {
  font-size: 20px;
  font-weight: 500;
  line-height: 2rem;
}

.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.left-p-small-intro {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 400;
  line-height: 2rem;
}

.learn-more {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  position: relative;
}
.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #7f8cff, #ffbf69);
  border-radius: 2px;
}
.arrow {
  width: 25px;
  height: 25px;
  background: linear-gradient(90deg, #7f8cff, #ffbf69);
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="12 5 19 12 12 19"/></svg>')
    center / contain no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="12 5 19 12 12 19"/></svg>')
    center / contain no-repeat;
}

.abs-background {
  position: absolute;
  top: 60rem;
  right: 5rem;
  z-index: -1;
}

/* partners section */

.partners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  margin-top: 10rem;
}

.partners .partners-p-big {
  font-size: 60px;
  font-weight: 500;
}

.grid-box-partners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-item-partners {
  background: rgb(65, 85, 114);
  background: linear-gradient(
    180deg,
    rgba(65, 85, 114, 1) 0%,
    rgba(27, 27, 30, 1) 100%
  );
  padding: 3rem;
  border: 3px solid #415572;
  border-radius: 4px;
  justify-items: center;
}

.grid-item-partners p {
  color: #999999;
  font-size: 11px;
  margin-top: 10px;
}

.circle {
  position: absolute;
  z-index: -1;
  top: 180rem;
  left: -1rem;
}

.mena-i {
  position: absolute;
  top: 190rem;
  left: 20rem;
}

.near-i {
  position: absolute;
  top: 198.5rem;
  left: 20rem;
}

.solana-i {
  position: absolute;
  top: 193.5rem;
  left: 28rem;
}

/* join-team section */

.join-team {
  width: 70rem;
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-team .join-team-sep {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.join-team-sep p {
  color: #e5e5e5;
  font-size: 19px;
  line-height: 30px;
}

.join-team .join-team-p {
  font-size: 53px;
  font-weight: 500;
}

.div-2 {
  position: absolute;
  z-index: -1;
  top: 235rem;
  left: 17rem;
}

/* contact-div section */

.contact-div-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 18rem;
}

.contact-div-p-big {
  font-size: 56px;
  font-weight: 500;
}

.contact-div-p-small {
  font-size: 18px;
  line-height: 2rem;
  text-align: center;
  margin-top: 2rem;
  color: #e5e5e5;
  margin-bottom: 2rem;
}

.contact-div,
.contact-div-1,
.contact-div-2,
.contact-div-3 {
  position: absolute;
  z-index: -1;
}

.contact-div {
  top: 265rem;
  right: 18rem;
}

.contact-div-1 {
  top: 275rem;
  right: 28rem;
}

.contact-div-2 {
  top: 275rem;
  left: 11rem;
}

.contact-div-3 {
  top: 270rem;
  right: 43rem;
}




/* carusel */
.owl-car{
  height: 560px;
}
.owl-car .carulsel-txt{
  position: absolute;
  left: 3rem;
  height: 300px;
  width: 44%;
  border-radius: 20px;
  padding: 14px;
  background-color: #ffffff ;
  color: #141619;
}
.owl-car .owl-theme{
  width: 44%;
  position: absolute;
  right: 0;

}
.owl-car .item{
  margin: 0 auto;
  height: 400px;
  padding: 10px;
  border-radius: 16px;
  background-color: #f3d515;
  color: #141619 !important;
}
.owl-car #img-carusel{
  width: 100%;
  height: 560px;
  position: absolute;
}
/* carusel */




/* footer */

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20rem;
  border-top: 1px solid #ffffff4d;
  height: 30vh;
}

.left-footer {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: column;
}

.left-footer-p-big {
  font-size: 15px;
  letter-spacing: 0.53px;
  cursor: pointer;
}

.left-footer-box {
  line-height: 2rem;
}

.left-footer-p-small {
  font-size: 14px;
  color: #bcbcbc;
  cursor: pointer;
}

.right-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
